#welcome {
    font-size: 50px;
    font-weight: bold;
}

#backLink {
    display: none;
}

div.thirdTextField {
    display: none;
}

div.firstnameTextField {
    display: none;
}

div.lastnameTextField {
    display: none;
}

div.MuiSnackbarContent-root {
    background-color: crimson;
}