#welcome {
    font-size: 30px;
    text-decoration: none;
    padding-bottom: 50px;
    color: #3f51b5;
}

#backLink {
    display: none;
}

div.thirdTextField {
    display: none;
}

div.firstnameTextField {
    display: none;
}

div.lastnameTextField {
    display: none;
}

div.MuiSnackbarContent-root {
    background-color: crimson;
}