#foodTitle {
    font-weight: bold;
    font-size: 90px;
}

#linkRef {
    padding-left: 10px;
}

#ingredientLabel {
    padding-left: 10px;
    font-size: 14px;
}

#editMode {
    display: none;
}

#recipePic {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 950px;
}